body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

li {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 2px;
  padding: 2px 6px;
}

li:hover,
li:focus {
  background-color: LightGray;
}
